<!DOCTYPE html>
<html>
  <head>
    <title>MySecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <style type="text/css">
      #map {
        width: 530px;
        height: 300px;
      }
    </style>
    <%= render 'layouts/nav' %>
    <%= bootstrap_flash %>
    <div class='container'>
      <%= yield %>
    </div>
    <%= render 'layouts/foot' %>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAZeVA9kxPNh-FtzSgPapNoeI8mbDzcZsU&callback=initMap"></script>
  </body>
</html>
